
body {
    background-color: #2f1a36;
    background-image: url(../img/brick_mobile.svg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
    }