#hero {
  width: 100%;
}
.first {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.mvindue1 {
  grid-column: 1 / 2;
  grid-row: 1;
  width: 75%;
}
.mvindue2 {
  grid-column: 5 / 6;
  grid-row: 1;
  width: 75%;
}
.bracelet_fp {
  grid-column: 2 / 3;
  grid-row: 3;
  object-fit: contain;
}
.necklace_fp {
  grid-column: 3 / 4;
  grid-row: 2 / span 2;
}
.earring_fp {
  grid-column: 4 / 5;
  grid-row: 3;
}
img {
  max-width: 100%;
}
video {
  max-width: 100%;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-now-button {
  background-color: #5f4275;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px;
  margin-top: 3em;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
}

.buy-now-button p {
  font-family: grenze;
  font-size: 20px;
  font-weight: bold;
}
