button:hover {
  background-color: var(--primary-color);
  color: var(--third-color);
}

.navbar img {
  max-width: 50px;
  margin-right: 1em;
}

.shopping-chart {
  width: 30px;
}

@media (min-width: 100px) and (max-width: 800px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .vindue1 {
    grid-column: 1 / 2;
    grid-row: 1;
    width: 75px;
    height: 75px;
  }
  .product-item1 {
    grid-column: 2 / 3;
    grid-row: 1;
  }
  .vindue2 {
    grid-column: 4 / 5;
    grid-row: 1;
    width: 75px;
    height: 75px;
  }
  .product-item2 {
    grid-column: 3 / 4;
    grid-row: 1;
  }
  .product-item3 {
    grid-column: 2 / 3;
    grid-row: 2;
  }
  .product-item4 {
    grid-column: 3 / 4;
    grid-row: 2;
  }
  .product-item5 {
    grid-column: 2 / 3;
    grid-row: 3;
  }
  .product-item6 {
    grid-column: 3 / 4;
    grid-row: 3;
  }
  .product-item7 {
    grid-column: 2 / 3;
    grid-row: 4;
  }
  .product-item8 {
    grid-column: 3 / 4;
    grid-row: 4;
  }
  .product-item9 {
    grid-column: 2 / 3;
    grid-row: 5;
  }
  .product-item10 {
    grid-column: 3 / 4;
    grid-row: 5;
  }
  .product-item11 {
    grid-column: 2 / 3;
    grid-row: 6;
  }
  .product-item12 {
    grid-column: 3 / 4;
    grid-row: 6;
  }
  .product-item13 {
    grid-column: 2 / 3;
    grid-row: 7;
  }
  .product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8,
  .img9,
  .img10,
  .img11,
  .img12,
  .img13 {
    width: 150px;
    height: 175%;
    object-fit: cover;
  }
  button {
    font-family: blackletter;
    border: none;
    clip-path: inset(0 round 20px);
    background-color: var(--secondary-color);
    color: var(--third-color);
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    padding: 1px 13px;
    width: 75%;
    height: 15%;
    transition-duration: 0.4s;
  }
  button:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
  }

  .img4_2 {
    display: none;
  }

  span {
    display: inline-block;
  }
  .font-1 {
    font-family: blackletter;
    font-size: 11px;
  }
  .font-2 {
    font-family: poly;
    font-size: 8px;
    text-decoration: underline white;
  }
}
@media (min-width: 800px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
  }

  .vindue1 {
    grid-column: 1 / 2;
    grid-row: 1;
    width: 150px;
    height: 150px;
    padding-left: 40%;
  }
  .product-item1 {
    grid-column: 3;
    grid-row: 1;
  }
  .vindue2 {
    grid-column: 5 / 6;
    grid-row: 1;
    width: 150px;
    height: 150px;
  }
  .product-item2 {
    grid-column: 2 / 3;
    grid-row: 2;
  }
  .product-item3 {
    grid-column: 3 /4;
    grid-row: 2;
  }
  .product-item4 {
    grid-column: 4 / 5;
    grid-row: 2;
  }
  .product-item5 {
    grid-column: 2 / 3;
    grid-row: 3;
  }
  .product-item6 {
    grid-column: 3 / 4;
    grid-row: 3;
  }
  .product-item7 {
    grid-column: 4 / 5;
    grid-row: 3;
  }
  .product-item8 {
    grid-column: 2 / 3;
    grid-row: 4;
  }
  .product-item9 {
    grid-column: 3 / 4;
    grid-row: 4;
  }
  .product-item10 {
    grid-column: 4 / 5;
    grid-row: 4;
  }
  .product-item11 {
    grid-column: 2 / 3;
    grid-row: 5;
  }
  .product-item12 {
    grid-column: 3 / 4;
    grid-row: 5;
  }
  .product-item13 {
    grid-column: 4 / 5;
    grid-row: 5;
  }
  .product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
  }
  .img1,
  .img2,
  .img3,
  .img4_2,
  .img5,
  .img6,
  .img7,
  .img8,
  .img9,
  .img10,
  .img11,
  .img12,
  .img13 {
    width: 180px;
    height: 200%;
    object-fit: cover;
  }
  button {
    font-family: blackletter;
    border: none;
    clip-path: inset(0 round 25px);
    background-color: var(--secondary-color);
    color: var(--third-color);
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    padding: 1px 13px;
    width: 60%;
    height: 17%;
    transition-duration: 0.4s;
  }
  .img4 {
    display: none;
  }
  span {
    display: inline-block;
  }
  .font-1 {
    font-family: blackletter;
    font-size: 13px;
  }
  .font-2 {
    font-family: poly;
    font-size: 11px;
    text-decoration: underline white;
  }
}
